<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/JS/walidacjaKlienta.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate>

        <!-- onsubmit="return validateForm();" -->

        <input type="hidden" name="IdKlient" value="<%= klient.IdKlient %>">

        <label for="Imie">Imie:<sup>*</sup></label>
        <input type="text" name="Imie" id="Imie" placeholder="2-40 znaków" value="<%= klient.Imie %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Imie'))) { %>
                <%= validationErrors.find(e => e.path.includes('Imie')).message %>
            <% } %>
        </span>

        <label for="Nazwisko">Nazwisko:<sup>*</sup></label>
        <input type="text" name="Nazwisko" id="Nazwisko" placeholder="2-40 znaków" value="<%= klient.Nazwisko %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorSurname" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Nazwisko'))) { %>
                <%= validationErrors.find(e => e.path.includes('Nazwisko')).message %>
            <% } %>
        </span>

        <label for="Data_Urodzenia">Data urodzenia:<sup>*</sup></label>
        <input type="date" name="Data_Urodzenia" id="Data_Urodzenia" value="<%= klient.Data_Urodzenia %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorYear" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Data_Urodzenia'))) { %>
                <%= validationErrors.find(e => e.path.includes('Data_Urodzenia')).message %>
            <% } %>
        </span>

        <label for="Telefon">Telefon:</label>
        <input class="Telefon" type="number" name="Telefon" id="Telefon" placeholder="np. 666777888"
               value="<%= klient.Telefon %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorTelephone" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Telefon'))) { %>
                <%= validationErrors.find(e => e.path.includes('Telefon')).message %>
            <% } %>
        </span>

        <label for="Email">Adres email:<sup>*</sup></label>
        <input type="email" name="Email" id="Email" placeholder="np. nazwa@domeena.pl" value="<%= klient.Email %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorEmail" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Email'))) { %>
                <%= validationErrors.find(e => e.path.includes('Email')).message %>
            <% } %>
        </span>

        <label for="Adres">Adres:<sup>*</sup></label>
        <input type="text" name="Adres" id="Adres" placeholder="np. Near 1" value="<%= klient.Nazwisko %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorAddress" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Adres'))) { %>
                <%= validationErrors.find(e => e.path.includes('Adres')).message %>
            <% } %>
        </span>


        <% if (formMode == 'showDetails') { %>
        <div class="form-buttons">
            <a href="/klient/edit/<%= klient.IdKlient %>" class="form-button-edit-detail">Edytuj</a>
        </div>
        <% }else { %>
        <div class="form-buttons">
            <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
            <span id="errorsSummary" class="errors-text"></span>
        </div>
        <% } %>

    </form>

    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>
            Szczegóły pozycji zamówień
        </h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Marka</th>
                <th>Data wynajęcia</th>
                <th>Data oddania</th>
                <th>Cena za wynajęcie</th>
            </tr>
            </thead>
            <tbody>
            <% for (let k of klient.wynajecia) { %>
            <tr>

                <td><a href="/samochod/details/<%= k.samochody.IdSamochod %>"><%= k.samochody.Marka %></a></td>
                <td><%= k.Data_Wynajecia %></td>
                <td><%= k.Data_Oddania %></td>
                <td>
                    <%= (daysBetween(k.Data_Wynajecia, k.Data_Oddania)) * (k.samochody.Cena_Za_Dzien) %>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

    <div class="form-buttons">
        <% if (formMode != 'showDetails') { %>
            <a class="form-button-cancel" href="/klient">Anuluj</a>
        <% } else { %>
            <a class="form-button-cancel" href="/klient">Powrót</a>
        <% } %>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>