<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/JS/walidacjaWynajecia.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction %>" novalidate onsubmit="return validateForm();">

        <!-- onsubmit="return validateForm();" -->
        <input type="hidden" name="IdWynajecie" value="<%= wynajecie.IdWynajecie %>">

        <label for="Samochod_IdSamochod">Samochod:<sup>*</sup></label>
        <select id="Samochod_IdSamochod" name="Samochod_IdSamochod"
                required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="" selected>--- Wybierz samochód ---</option>

            <% if (formMode == 'showDetails') { %>
                <option selected value="<%= wynajecie.Samochod_IdSamochod %>"
                        label="<%= wynajecie.samochody.Marka + ' ' + wynajecie.samochody.Model %>"></option>
            <% } else if(formMode == 'edit'){ %>
                <option selected value="<%= wynajecie.Samochod_IdSamochod %>"
                        label="<%= wynajecie.samochody.Marka + ' ' + wynajecie.samochody.Model %>"></option>
                <% for (let i = 0; i < samochodAllLista.length; i++) { let s = samochodAllLista[i]; %>
                <% if(wynajecie.samochody.Marka != s.Marka &&  wynajecie.samochody.Model != s.Model){ %>
                    <option value="<%= s.IdSamochod %>" label="<%= s.Marka + ' ' + s.Model %>"></option>
                    </option>
                <% } %>
                <% } %>
            <% }else { %>
                <% for (let i = 0; i < allSamochod.length; i++) { let s = allSamochod[i]; %>
                <option value="<%= s.IdSamochod %>" label="<%= s.Marka + ' ' + s.Model %>"></option>
                </option>
                <% } %>
            <% } %>
        </select>
        <span id="errorSamochod" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Samochod_IdSamochod'))) { %>
                <%= validationErrors.find(e => e.path.includes('Samochod_IdSamochod')).message %>
            <% } %>
        </span>


        <label for="Klient_IdKlient">Klient:<sup>*</sup></label>
        <select id="Klient_IdKlient" name="Klient_IdKlient"
                required <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
            <option value="" selected>--- Wybierz klienta ---</option>

            <% if (formMode == 'showDetails') { %>
                <option selected value="<%= wynajecie.Klient_IdKlient %>"
                        label="<%= wynajecie.klienty.Imie + ' ' + wynajecie.klienty.Nazwisko %>"></option>
            <% } else if(formMode == 'edit'){ %>
                <option selected value="<%= wynajecie.Klient_IdKlient %>"
                        label="<%= wynajecie.klienty.Imie + ' ' + wynajecie.klienty.Nazwisko %>"></option>
                <% for (let i = 0; i < klientAllLista.length; i++) { let k = klientAllLista[i]; %>
                <% if(wynajecie.klienty.Imie != k.Imie && wynajecie.klienty.Nazwisko != k.Nazwisko ){ %>
                    <option value="<%= k.IdKlient %>" label="<%= k.Imie + ' ' + k.Nazwisko %>"></option>
                    </option>
                <% } %>
                <% } %>
            <% }else { %>
                <% for (let i = 0; i < allKlient.length; i++) { let k = allKlient[i]; %>
                <option value="<%= k.IdKlient %>" label="<%= k.Imie + ' ' + k.Nazwisko %>"></option>
                </option>
                <% } %>
            <% } %>
        </select>
        <span id="errorKlient" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Klient_IdKlient'))) { %>
                <%= validationErrors.find(e => e.path.includes('Klient_IdKlient')).message %>
            <% } %>
        </span>


        <label for="Data_Wynajecia">Data wynajęcia:<sup>*</sup></label>
        <input type="date" name="Data_Wynajecia" id="Data_Wynajecia" value="<%= wynajecie.Data_Wynajecia %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorRentalDate" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Data_Wynajecia'))) { %>
                <%= validationErrors.find(e => e.path.includes('Data_Wynajecia')).message %>
            <% } %>
        </span>

        <label for="Data_Oddania">Data oddania:<sup>*</sup></label>
        <input type="date" name="Data_Oddania" id="Data_Oddania" value="<%= wynajecie.Data_Oddania %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
        <span id="errorEndDate" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Data_Oddania'))) { %>
                <%= validationErrors.find(e => e.path.includes('Data_Oddania')).message %>
            <% } %>
        </span>

        <% if (formMode == 'showDetails') { %>

        <% } %>

        <% if (formMode == 'showDetails'){ %>
            <div class="form-buttons">
                <a href="/wynajecie/edit/<%= wynajecie.IdWynajecie %>"
                   class="form-button-edit-detail">Edytuj</a>
            </div>
        <% }else { %>
            <div class="form-buttons">
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <span id="errorsSummary" class="errors-text"></span>
            </div>
        <% } %>

    </form>

    <div class="form-buttons">

        <% if (formMode != 'showDetails') { %>
            <a class="form-button-cancel" href="/wynajecie">Anuluj</a>
        <% } else { %>
            <a class="form-button-cancel" href="/wynajecie">Powrót</a>
        <% } %>
    </div>

</main>

<%- include('../../fragments/footer.ejs') %>